

.Terms__head{
		width: 100%;
	max-width: 1271px;
}

.Terms{

	max-width: 1271px;
	width: 70%;
	margin: 40px auto;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 500px;
    max-width: 814px;

}