.space{
	width: 100%;
	max-width:1280px;
	height: 200px;

}

.body__featured__allproducts{
	background-color: white;
/*	border:1px solid lightgray;*/
	color: black;
	font-family: "Times New Roman", Times, serif;
	height: 91px;
	margin-bottom: 0px;
	margin-left: 20px;
}

.body__featured__all{
	margin-left: 20px;
	background-color: white;
	/*border:1px solid lightgray;*/
	color: black;
	font-family: "Times New Roman", Times, serif;
	height: 81px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.featured__allproducts{
	margin: 10px 0px 10px 20px;
	color: black;
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;

}


.featured__uno__allproducts	{
	margin: 0;
	margin-left: 20px;
	color: darkslategrey;

}

.body__products__all__x{
	border:2px solid #F44336;
	border-radius: 5px;
	color: #F44336;
	width: 100px;
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	
}

.body__products__all__y{
	border:2px solid gray;
	border-radius: 5px;
	color: gray;
	width: 100px;
	height: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	
}

.yell{
	color: yellow;
	margin-right: 20px;	
	padding: 0;

}

.gray{
	color: gray;
}

.body__featured__all__yellow{
	margin-left: 20px;
	background-color: white;
	/*border:1px solid lightgray;*/
	color: black;
	font-family: "Times New Roman", Times, serif;
	height: 41px;
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;

}
