*{
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none; 
}

body{
	background-color: white
}

.header__buttons{
	background-color: black;
	width: 100%;
	height: 70px;
	max-width: 1280px;
	display: flex;
	align-items: center;
}

.header__blocks{
	width: 50px;
	height: 70px;
	padding: 2px;
	margin: 4px 2px 2px 19px;
	color:white;
	display: flex;
	align-items: center;

}

.header__blocks__terms{
	border-right:  1px solid white;
	width: 165px;
	height: 20px;
	color:white;
	padding: 2px;
		display: flex;
	align-items: center;
}

.header__blocks__blue{
	width: 70px;
	height: 20px;
	padding: 2px;
	margin: 4px 2px 2px 2px;
	color: #50b4d4;
	display: flex;
	align-items: center;
}

.header__blocks__blue__linea{
	width: 50px;
	height: 20px;
	padding: 2px;
	margin: 4px 2px 2px 2px;
	color: #50b4d4;
	display: flex;
	align-items: center;
	border-right:  1px solid white;
}

#logo__white{
	width: 60px;
	height: 60px;
}

 .text{
 	font-size: 12px;
 	font-weight: 600;
 	margin:0;
 	
}
.shopping_cart{
	border:1px solid yellow;
	color: /*#2a7fca*/ yellow;
	margin-left: 20px;
	font-size: 40px;
	background-color: black;
	height: 70%;
	display: flex;
	align-items: center;
	padding-left: 10px;
	width: 60px;
}

.fa.fa-shopping-cart{
	background-color: inherit;
}








